
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Barlow', sans-serif;
}
a:hover{
  text-decoration: none !important;
}
.navbar{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.navbar-nav{
	width: 100% !important;
}
.nav-link{
  font-size: 18px;
}
.nav-link:hover{
  color: #28adad !important;
  border-bottom: 4px solid #59ffff;
  transform: translateX(50%)
  -webkit-transition: all 0.5s ease;
  transition: all 0.3s ease;
}
.active{
  border-bottom: 4px solid #59ffff; 
}
.n-brand{
  font-size: 30px !important;
  color: #0aa5ab !important;
  font-weight: 900;
}
.navbar-toggler {
   border: none !important;
}
button:focus {
  outline: none !important;
}
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 41px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 0px;
}
.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}
.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 350px;
    caret-color:red;
    transition: width 0.4s linear;
}
.searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
}
.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}
.new-slider{
      background: #0d161f;
}
.b-0 {
    bottom: 0;
}
.bg-shadow {
    background: rgba(76, 76, 76, 0);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179, 171, 171, 0)), color-stop(49%, rgba(48, 48, 48, 0.37)), color-stop(100%, rgba(19, 19, 19, 0.8)));
    background: linear-gradient(to bottom, rgba(179, 171, 171, 0) 0%, rgba(48, 48, 48, 0.71) 49%, rgba(19, 19, 19, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
}
.top-indicator {
    right: 0;
    top: 1rem;
    bottom: inherit;
    left: inherit;
    margin-right: 1rem;
}
.overflow {
    position: relative;
    overflow: hidden;
}
.zoom img {
    transition: all 0.2s linear;
}
.zoom:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.news-section{
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: #f1f4fa;
}
.wrap {
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    height:500px;
}

.wrap:hover {
    background: linear-gradient(135deg,#6394ff 0%,#0a193b 100%);
    color: white;
}
.follow-us{
    display: flex;
    height: 10vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #f1f4fa;
}

.social_box ul {
    list-style: none;
    position: relative;
    display: inline-block
}

.social_box ul .text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #4A148C;
    color: #eee;
    line-height: 50px;
    border-radius: 50px;
    font-size: 18px;
    pointer-events: none;
    text-align: center;
    transition: opacity .5s .75s ease-out
}

.social_box ul:hover .text {
    opacity: 0;
    transition: opacity .5s .125s ease-out
}

.social_box ul li {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: #4a148c;
    text-align: center;
    line-height: 55px;
    margin: 0 -16px;
    cursor: pointer;
    border-radius: 0px;
    transition: background-color .5s ease-out, border-radius .5s .25s ease-out, margin .5s .25s ease-out
}

.social_box ul li:hover {
    background: #6A1B9A
}

.social_box ul li i {
    color: #eee;
    font-size: 22px;
    opacity: 0;
    transition: opacity 1.7s
}

.social_box ul:hover li i {
    opacity: 1
}

.social_box ul li:nth-child(1) {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px
}

.social_box ul li:nth-child(5) {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px
}

.social_box ul:hover li {
    border-radius: 50px;
    margin: 0 3px
}
.footer_area {
    position: relative;
    z-index: 1;
    overflow: hidden;
   -webkit-box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    padding:60px;
}

.footer_area .row {
    margin-left: -25px;
    margin-right: -25px;
}
.footer_area .row .col,
.footer_area .row .col-1,
.footer_area .row .col-10,
.footer_area .row .col-11,
.footer_area .row .col-12,
.footer_area .row .col-2,
.footer_area .row .col-3,
.footer_area .row .col-4,
.footer_area .row .col-5,
.footer_area .row .col-6,
.footer_area .row .col-7,
.footer_area .row .col-8,
.footer_area .row .col-9,
.footer_area .row .col-auto,
.footer_area .row .col-lg,
.footer_area .row .col-lg-1,
.footer_area .row .col-lg-10,
.footer_area .row .col-lg-11,
.footer_area .row .col-lg-12,
.footer_area .row .col-lg-2,
.footer_area .row .col-lg-3,
.footer_area .row .col-lg-4,
.footer_area .row .col-lg-5,
.footer_area .row .col-lg-6,
.footer_area .row .col-lg-7,
.footer_area .row .col-lg-8,
.footer_area .row .col-lg-9,
.footer_area .row .col-lg-auto,
.footer_area .row .col-md,
.footer_area .row .col-md-1,
.footer_area .row .col-md-10,
.footer_area .row .col-md-11,
.footer_area .row .col-md-12,
.footer_area .row .col-md-2,
.footer_area .row .col-md-3,
.footer_area .row .col-md-4,
.footer_area .row .col-md-5,
.footer_area .row .col-md-6,
.footer_area .row .col-md-7,
.footer_area .row .col-md-8,
.footer_area .row .col-md-9,
.footer_area .row .col-md-auto,
.footer_area .row .col-sm,
.footer_area .row .col-sm-1,
.footer_area .row .col-sm-10,
.footer_area .row .col-sm-11,
.footer_area .row .col-sm-12,
.footer_area .row .col-sm-2,
.footer_area .row .col-sm-3,
.footer_area .row .col-sm-4,
.footer_area .row .col-sm-5,
.footer_area .row .col-sm-6,
.footer_area .row .col-sm-7,
.footer_area .row .col-sm-8,
.footer_area .row .col-sm-9,
.footer_area .row .col-sm-auto,
.footer_area .row .col-xl,
.footer_area .row .col-xl-1,
.footer_area .row .col-xl-10,
.footer_area .row .col-xl-11,
.footer_area .row .col-xl-12,
.footer_area .row .col-xl-2,
.footer_area .row .col-xl-3,
.footer_area .row .col-xl-4,
.footer_area .row .col-xl-5,
.footer_area .row .col-xl-6,
.footer_area .row .col-xl-7,
.footer_area .row .col-xl-8,
.footer_area .row .col-xl-9,
.footer_area .row .col-xl-auto {
    padding-right: 25px;
    padding-left: 25px;
}

.single-footer-widget {
    position: relative;
    z-index: 1;
}
.single-footer-widget .copywrite-text a {
    color: #747794;
    font-size: 1rem;
}
.single-footer-widget .copywrite-text a:hover,
.single-footer-widget .copywrite-text a:focus {
    color: #3f43fd;
}
.single-footer-widget .widget-title {
    margin-bottom: 1.5rem;
}
.single-footer-widget .footer_menu li a {
    color: #747794;
    margin-bottom: 1rem;
    display: block;
    font-size: 1rem;
}
.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
    color: #3f43fd;
}
.single-footer-widget .footer_menu li:last-child a {
    margin-bottom: 0;
}

.footer_social_area {
    position: relative;
    z-index: 1;
}
.footer_social_area a {
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background-color: #f5f5ff;
    line-height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 10px;
    transition: 0.3s;
}
.footer_social_area a i {
    line-height: 36px;
}
.footer_social_area a:hover,
.footer_social_area a:focus {
    box-shadow: 2px 3px 8px 7px;
    transform: translate3d(1px, -10px, 22px);
}

@-webkit-keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
@keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
ol li, ul li {
    list-style: none;
}

ol, ul {
    margin: 0;
    padding: 0;
}
@media all and (max-width: 1024px){
   .searchbar:hover > .search_input{
    width: 135px;
   }      
}
@media all and (max-width: 991px){
   .searchbar:hover > .search_input{
    width: 350px;
   }      
}
@media all and (max-width: 481px){
   .searchbar:hover > .search_input{
    width: 120px;
   }
   .n-brand{
   	font-size: 20px !important;
   }      
}	
