* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box !important;
  font-family: 'Barlow', sans-serif;
}
a:hover{
  text-decoration: none !important;
}
.head{
  background: #000;
  padding-bottom: 4px;
}
.top-name{
  padding: 3px;
  margin-left: 3px;
  color: #ffff !important;
}
.tech{
  font-size: 2rem;
  color: #6fced9;
}
.tech:hover .tech:focus{
  text-decoration: none !important;
}
.icon{
  height: 35px;
  padding: 3px 12px 0px 5px;
}
.navbar{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.nav-link{
  font-size: 18px;
}
.nav-link:hover{
  color: #28adad !important;
  border-bottom: 4px solid #59ffff;
  transform: translateX(50%)
  -webkit-transition: all 0.5s ease;
  transition: all 0.3s ease;
}
.active{
  border-bottom: 4px solid #59ffff; 
}
.navbar-toggler {
   border: none !important;
}
button:focus {
  outline: none !important;
}
.search-box{
  background: white;
  position: absolute;
  top: 32px;
  right: 3.7%;
  height: 55px;
  width: 250px;
  line-height: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-top: 1px solid #59ffff;
  display: none;
}
.search-box:before{
 content: "";
 position: absolute;
 top: -32px;
 right: 13px;
 border-left: 12px solid transparent;
 border-right: 12px solid transparent;
 border-top: 14px solid transparent;
 border-bottom: 14px solid transparent;
}
.drop-input[type="text"]{
  width: 220px;
  padding: 2px 7px;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid #000;
  margin: -1px; 
}
.search-box input[type="button"]{
  width: 80px;
  padding: 4px 5px 2px 5px;
  background: #D80B15;
  border: 1px solid #D80B15;
  outline: none;
  cursor: pointer;
  color: #fff;
  margin-left: -6px;
  border-radius: 22px;
}
@media screen and (max-width: 1200px){
  .r-fo{
    font-size: 13px;
    margin-left: 17px;
  }
}
@media screen and (max-width: 992px){
  .head{
    display: none;
  }
  #typed{
    font-size: 20px !important;
  }
  .tr{
    font-size: 20px !important;
  }
  .caption{
    bottom: 2px !important;
    font-size: 13px !important;
  }
  .alu{
  font-size: 15px !important;
  border: 1px solid #59ffff;
  font-weight: bold;
  margin-bottom: 6px;
  padding: 5px !important;
  border-radius: 10px !important;
  }
  .r-fo{
    font-size: 10px;
    margin-left: 48px;
  }
}
@media screen and (max-width: 768px){
  .media-img{
   display: block;
   margin-left:auto;
   margin-right: auto;
   width: 50%; 
  }
  #typed{
    font-size: 18px !important;
  }
  .tr{
    font-size: 18px !important;
  }
  .caption{
    bottom: 2px !important;
    font-size: 10px !important;
  }
  .alu{
    font-size: 10px !important;
  }
  .r-fo{
    font-size: 18px;
    margin-left: -72px;
  }
}
@media screen and (max-width: 621px){
  .r-fo{
     margin-left: 1px;
  }
}
@media screen and (max-width: 567px){
  .icon{
    height: 25px; 
  }
  .paa{
    margin-left: 5px !important;
  }
}
@media screen and (max-width: 450px){
  .caption{
    bottom: 2px !important;
    font-size: 23px !important;
  }
  .alu{
    font-size: 10px !important;
    padding-left: 10px !important;
  }
}
@media screen and (max-width: 415px){
  .icon{
    height: 18px;
  }
  .paa{
    margin-left: 10px !important;
  }
  .r-fo{
    margin-left: 19px;
    font-size: 13px;
  }
}
@media screen and (max-width: 360px) {
   .r-fo{
    margin-left: 45px;
    font-size: 10px;
   }
   .caption{
    bottom: 2px !important;
    font-size: 18px !important;
  }  
}
@media screen and (max-width:  325px){
 .fas{
    font-size: 10px !important;
 }
 .navbar-toggler-icon{
  font-size: 10px;
 }
}
.trend{
  color: #1ad8d8;
}
container{
  padding: 16px;
}
.pics{
  background: #000;
}
.overlay{
  opacity: 70%;
}
.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}
@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}
.animation{
  transition: transform 1s !important;
}
.animation:hover{
  transform: scale(1.1);
}
.caption{
    position: absolute;
    bottom: 2px;
    color: #fff;
    left: 10px;
    font-size: 20px;
}
#typed{
  font-size: 30px;
}
.ty-js{
  background: #000;
  color: white;
}
.tr{
  font-size:30px;
  color: red;
}
.alu{
  font-size: 20px;
  border: 1px solid #59ffff;
  font-weight: bold;
  margin-bottom: 6px;
  padding: 10px;
  border-radius: 14px;
}
.alu:hover{
  background: #59ffff;
  color: #000;
}
.navigation-box {
    top: .4rem;
    right: .8rem;
    width: 2rem;
    position: absolute;
}
@media (min-width: 768px){
    .breaking-caret:after {
        content: "";
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-left: 15px solid #007bff;
        border-bottom: 20px solid transparent;
        position: absolute;
        right: -15px;
        top: 0;
    }
}
.single-blog-img {
    overflow: hidden;
}

.single-blog-img a img {
    width: 100%;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.single-blog:hover .single-blog-img a img {
    -webkit-transform: scale(1.09);
    -moz-transform: scale(1.09);
    -ms-transform: scale(1.09);
    -o-transform: scale(1.09);
    transform: scale(1.09);
}
.single-blog-img img {
    width: 100%;
}

.blog-content-box {
    padding-left: 25px;
    padding-top: 27px;
    margin-left: 34px;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    background: #fff;
    padding-bottom: 30px;
}
.blog-post-date {
    display: table;
    float: left;
    margin-right: 30px;
}
.blog-post-date span:first-child {
    color: #ffca00;
    display: block;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    margin-top: -11px;
    margin-bottom: -4px;
    text-align: center;
}
.blog-post-date span:last-child {
    font-size: 14px;
    color: #212121;
    font-weight: 600;
}
.blog-content {
    display: table;
}
.blog-content h4 {
    color: #212121;
}
.blog-content h4 a {
    color: #212121;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
}
.blog-content h4 a:hover {
    color: #FFCA00;
}
.meta-post {
    margin: 10px 0 13px;
}
.meta-post span {
    color: #696969;
    font-size: 15px;
    position: relative;
    padding-right: 23px;
}
.author {
    margin-bottom: 60px;
}
.meta-post span a {
    color: #696969;
    -webkit-transition: .2s;
    transition: .2s;
}

.meta-post span:after {
    position: absolute;
    content: "-";
    right: 4px;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.meta-post span:last-child {
    padding-right: 0;
}
.exerpt {
    line-height: 28px;
    color: #696969;
    margin-bottom: 37px;
}
.card img{
    width: 100%;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.card:hover img{
      -webkit-transform: scale(1.09);
    -moz-transform: scale(1.09);
    -ms-transform: scale(1.09);
    -o-transform: scale(1.09);
    transform: scale(1.09); 
}
.img-div img{
    width: 100%;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.img-div:hover img{
       -webkit-transform: scale(1.09);
    -moz-transform: scale(1.09);
    -ms-transform: scale(1.09);
    -o-transform: scale(1.09);
    transform: scale(1.09);
}
.contact-us{
  background: -webkit-linear-gradient(left, #f0f4f9, #00c6ff);
}
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 1%;
    width: 70%;
    background: -webkit-linear-gradient(left, #f0f4f9, #00c6ff);
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -1%;
    transform: rotate(-25deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
.btn:hover{
  background: #fff !important;
  color: #000 !important;
}
.btnContact:hover{
  background: #fff;
  color: #000;
}
.bor{
  border: none;
}
.footer_area {
    position: relative;
    z-index: 1;
    overflow: hidden;
   -webkit-box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    padding:60px;
}
.footer_area .row {
    margin-left: -25px;
    margin-right: -25px;
}
.footer_area .row .col,
.footer_area .row .col-1,
.footer_area .row .col-10,
.footer_area .row .col-11,
.footer_area .row .col-12,
.footer_area .row .col-2,
.footer_area .row .col-3,
.footer_area .row .col-4,
.footer_area .row .col-5,
.footer_area .row .col-6,
.footer_area .row .col-7,
.footer_area .row .col-8,
.footer_area .row .col-9,
.footer_area .row .col-auto,
.footer_area .row .col-lg,
.footer_area .row .col-lg-1,
.footer_area .row .col-lg-10,
.footer_area .row .col-lg-11,
.footer_area .row .col-lg-12,
.footer_area .row .col-lg-2,
.footer_area .row .col-lg-3,
.footer_area .row .col-lg-4,
.footer_area .row .col-lg-5,
.footer_area .row .col-lg-6,
.footer_area .row .col-lg-7,
.footer_area .row .col-lg-8,
.footer_area .row .col-lg-9,
.footer_area .row .col-lg-auto,
.footer_area .row .col-md,
.footer_area .row .col-md-1,
.footer_area .row .col-md-10,
.footer_area .row .col-md-11,
.footer_area .row .col-md-12,
.footer_area .row .col-md-2,
.footer_area .row .col-md-3,
.footer_area .row .col-md-4,
.footer_area .row .col-md-5,
.footer_area .row .col-md-6,
.footer_area .row .col-md-7,
.footer_area .row .col-md-8,
.footer_area .row .col-md-9,
.footer_area .row .col-md-auto,
.footer_area .row .col-sm,
.footer_area .row .col-sm-1,
.footer_area .row .col-sm-10,
.footer_area .row .col-sm-11,
.footer_area .row .col-sm-12,
.footer_area .row .col-sm-2,
.footer_area .row .col-sm-3,
.footer_area .row .col-sm-4,
.footer_area .row .col-sm-5,
.footer_area .row .col-sm-6,
.footer_area .row .col-sm-7,
.footer_area .row .col-sm-8,
.footer_area .row .col-sm-9,
.footer_area .row .col-sm-auto,
.footer_area .row .col-xl,
.footer_area .row .col-xl-1,
.footer_area .row .col-xl-10,
.footer_area .row .col-xl-11,
.footer_area .row .col-xl-12,
.footer_area .row .col-xl-2,
.footer_area .row .col-xl-3,
.footer_area .row .col-xl-4,
.footer_area .row .col-xl-5,
.footer_area .row .col-xl-6,
.footer_area .row .col-xl-7,
.footer_area .row .col-xl-8,
.footer_area .row .col-xl-9,
.footer_area .row .col-xl-auto {
    padding-right: 25px;
    padding-left: 25px;
}

.single-footer-widget {
    position: relative;
    z-index: 1;
}
.single-footer-widget .copywrite-text a {
    color: #747794;
    font-size: 1rem;
}
.single-footer-widget .copywrite-text a:hover,
.single-footer-widget .copywrite-text a:focus {
    color: #3f43fd;
}
.single-footer-widget .widget-title {
    margin-bottom: 1.5rem;
}
.single-footer-widget .footer_menu li a {
    color: #747794;
    margin-bottom: 1rem;
    display: block;
    font-size: 1rem;
}
.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
    color: #3f43fd;
}
.single-footer-widget .footer_menu li:last-child a {
    margin-bottom: 0;
}

.footer_social_area {
    position: relative;
    z-index: 1;
}
.footer_social_area a {
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background-color: #f5f5ff;
    line-height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 10px;
    transition: 0.3s ease-in-out;
      box-shadow: 0px 0px  5px 0px;

}
.footer_social_area a i {
    line-height: 36px;
}
.footer_social_area a:hover,
.footer_social_area a:focus {
    color: #007bff;
    transform: translate3d(0px, -10px, 10px);
    box-shadow: 1px 5px 20px 8px;

}

@-webkit-keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

@keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
ol li, ul li {
    list-style: none;
}

ol, ul {
    margin: 0;
    padding: 0;
}
.gototop{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #fff;
  bottom: 20px;
  right: 50px;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  font-size: 25px;
  border: 1px solid #fff;
  border-radius: 24px;
}