* {
  margin: 0px;
  padding: 0px;
  font-family: 'Barlow', sans-serif;
}
a:hover{
  text-decoration: none !important;
}
button:focus {
  outline: none !important;
}
.btn:hover{
  background: #fff !important;
  color: #007bff !important;
}
.navbar{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.navbar-nav{
  width: 100% !important;
}
.nav-link{
  font-size: 18px;
}
.nav-link:hover{
  color: #28adad !important;
  border-bottom: 4px solid #59ffff;
  transform: translateX(50%)
  -webkit-transition: all 0.5s ease;
  transition: all 0.3s ease;
}
.active{
  border-bottom: 4px solid #59ffff; 
}
.n-brand{
  font-size: 30px !important;
  color: #0aa5ab !important;
  font-weight: 900;
}
.navbar-toggler {
   border: none !important;
}
button:focus {
  outline: none !important;
}
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 41px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 0px;
}
.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}
.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 350px;
    caret-color:red;
    transition: width 0.4s linear;
}
.searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
}
.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}
.navbar-toggler-icon{
  font-size: 10px;
 }
.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
 .social_icon2 ul {
     margin: 0;
     padding: 0;
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .facebook {
     background: #2a66b3;
     border: 1px solid #2a66b3;
 }

 .youtube {
     background: #35bbec;
     border: 1px solid #35bbec
 }

 .google {
     background: #e55644;
     border: 1px solid #e55644
 }
 .social_icon2 ul li a {
     float: left;
     border-radius: 4px;
     line-height: 40px;
     color: #fff;
     height: 40px;
     width: 110px;
     text-align: center;
 }
 .width-co{
    margin: 0.1rem!important;
}
 .facebook:hover {
     background: #082b58;
     border: 1px solid #082b58
 }

 .youtube:hover {
     background: #0f607e;
     border: 1px solid #0f607e
 }

 .google:hover {
     background: #a52a1b;
     border: 1px solid #a52a1b
 }
@media screen and (max-width: 345px){
  .social_icon2 ul li a {
     width: 56px;
 }  
}
@media (min-width: 576px) {
  .rounded-nav {
    border-radius: 50rem !important;
  }
}

@media (min-width: 576px) {
  .rounded-nav .nav-link {
    border-radius: 50rem !important;
  }
}

* {
  box-sizing: border-box;
}
.container {
  position: relative;
}
.mySlides {
  display: none;
}
.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: 0px;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
  background-color: transparent;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: blue;
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: 0px 0px 20px 16px;
  border-radius: 70px;
}
.numbertext {
  color: #000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-weight: 800;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


















































 .footer_area {
    position: relative;
    z-index: 1;
    overflow: hidden;
   -webkit-box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    padding:60px;
}

.footer_area .row {
    margin-left: -25px;
    margin-right: -25px;
}
.footer_area .row .col,
.footer_area .row .col-1,
.footer_area .row .col-10,
.footer_area .row .col-11,
.footer_area .row .col-12,
.footer_area .row .col-2,
.footer_area .row .col-3,
.footer_area .row .col-4,
.footer_area .row .col-5,
.footer_area .row .col-6,
.footer_area .row .col-7,
.footer_area .row .col-8,
.footer_area .row .col-9,
.footer_area .row .col-auto,
.footer_area .row .col-lg,
.footer_area .row .col-lg-1,
.footer_area .row .col-lg-10,
.footer_area .row .col-lg-11,
.footer_area .row .col-lg-12,
.footer_area .row .col-lg-2,
.footer_area .row .col-lg-3,
.footer_area .row .col-lg-4,
.footer_area .row .col-lg-5,
.footer_area .row .col-lg-6,
.footer_area .row .col-lg-7,
.footer_area .row .col-lg-8,
.footer_area .row .col-lg-9,
.footer_area .row .col-lg-auto,
.footer_area .row .col-md,
.footer_area .row .col-md-1,
.footer_area .row .col-md-10,
.footer_area .row .col-md-11,
.footer_area .row .col-md-12,
.footer_area .row .col-md-2,
.footer_area .row .col-md-3,
.footer_area .row .col-md-4,
.footer_area .row .col-md-5,
.footer_area .row .col-md-6,
.footer_area .row .col-md-7,
.footer_area .row .col-md-8,
.footer_area .row .col-md-9,
.footer_area .row .col-md-auto,
.footer_area .row .col-sm,
.footer_area .row .col-sm-1,
.footer_area .row .col-sm-10,
.footer_area .row .col-sm-11,
.footer_area .row .col-sm-12,
.footer_area .row .col-sm-2,
.footer_area .row .col-sm-3,
.footer_area .row .col-sm-4,
.footer_area .row .col-sm-5,
.footer_area .row .col-sm-6,
.footer_area .row .col-sm-7,
.footer_area .row .col-sm-8,
.footer_area .row .col-sm-9,
.footer_area .row .col-sm-auto,
.footer_area .row .col-xl,
.footer_area .row .col-xl-1,
.footer_area .row .col-xl-10,
.footer_area .row .col-xl-11,
.footer_area .row .col-xl-12,
.footer_area .row .col-xl-2,
.footer_area .row .col-xl-3,
.footer_area .row .col-xl-4,
.footer_area .row .col-xl-5,
.footer_area .row .col-xl-6,
.footer_area .row .col-xl-7,
.footer_area .row .col-xl-8,
.footer_area .row .col-xl-9,
.footer_area .row .col-xl-auto {
    padding-right: 25px;
    padding-left: 25px;
}

.single-footer-widget {
    position: relative;
    z-index: 1;
}
.single-footer-widget .copywrite-text a {
    color: #747794;
    font-size: 1rem;
}
.single-footer-widget .copywrite-text a:hover,
.single-footer-widget .copywrite-text a:focus {
    color: #3f43fd;
}
.single-footer-widget .widget-title {
    margin-bottom: 1.5rem;
}
.single-footer-widget .footer_menu li a {
    color: #747794;
    margin-bottom: 1rem;
    display: block;
    font-size: 1rem;
}
.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
    color: #3f43fd;
}
.single-footer-widget .footer_menu li:last-child a {
    margin-bottom: 0;
}

.footer_social_area {
    position: relative;
    z-index: 1;
}
.footer_social_area a {
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background-color: #f5f5ff;
    line-height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 10px;
    transition: 0.3s;
}
.footer_social_area a i {
    line-height: 36px;
}
.footer_social_area a:hover,
.footer_social_area a:focus {
    box-shadow: 2px 3px 8px 7px;
    transform: translate3d(1px, -10px, 22px);
}

@-webkit-keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
@keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
ol li, ul li {
    list-style: none;
}

ol, ul {
    margin: 0;
    padding: 0;
}
@media all and (max-width: 1024px){
   .searchbar:hover > .search_input{
    width: 135px;
   }      
}
@media all and (max-width: 991px){
   .searchbar:hover > .search_input{
    width: 350px;
   }      
}
@media all and (max-width: 481px){
   .searchbar:hover > .search_input{
    width: 120px;
   }
   .n-brand{
    font-size: 20px !important;
   }      
} 